body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root > div > div > div > header{
  background: #000;
  color: #FF0000;
}

#root > div > div > div > header > div > span > a > img{
  height: 60px;
  width: 60px;
}
.heading{
  text-align: center;
  color: #FF0000;
}